<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset your password</title>
    <style><%= stylesheet_link_tag 'email', media: 'all',  host: Rails.application.config.action_mailer.asset_host %></style>
  </head>
  <body>
    <div class="email-wrapper">
      <!-- Hero Section -->
      <div class="hero-section">
        <%= render 'email_templates/partials/hero', locals: { image_url:  'https://karya-app.s3.us-east-1.amazonaws.com/ChatGPT+Image+Sep+30%2C+2025%2C+11_40_57+PM.png' } %>
      </div>
        <div class="content">
        <%= render 'email_templates/partials/greeing', locals: { message: "Hi #{ @variables[:first_name] }," } rescue content_tag(:h1, "Hi #{ @variables[:first_name] }!", class: 'greeting') %>
        
        <p class="welcome-message">
          We received a request to reset your password. Click the link below to set a new password:
        </p>
        
        <!-- CTA Button -->
        <div class="cta-section">
        <%= render 'email_templates/partials/button', locals: { href: @variables[:reset_url], text: 'Reset Password' } %>
        </div>

        <!-- Divider-->
        <%= render 'email_templates/partials/divider' %>
        
        <!-- Security Note -->
        <%= render 'email_templates/partials/security_note', locals: { message: "If you didn’t request this, you can ignore this email." } %>
        
        <%= render 'email_templates/partials/need_help' %>
  </div>
  </body>
</html>